// nav styles
.container {
	margin-top: 2em;
}

.navbar {
	padding: 0.5em;
}

.form-inline {
	margin-left: 2em;
}

.form-check-input {
	border: 1px solid #555;
}

.form-check {
	margin-left: 1em;
}

// main-view styles

.my-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.my-column {
	display: inline-block;
	width: 30%;
	margin-top: 2em;
	margin-bottom: 2em;
}

