<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="mushroomCtrl">
	<h1>Mushroom Mania</h1>
	<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" ng-model="searchText.search">
    </form>
    <div class="form-check form-check-inline">
    	<label class="form-check-label">
		    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Poisonous
		</label>
	</div>
	<div class="form-check form-check-inline">
    	<label class="form-check-label">
		    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Non-Poisonous
		</label>
	</div>
</nav>